@import '../palette';

.main_bar {
  background-color: $base;

  border-radius: 1rem;
}

.workspace {
  margin-left: 0px;
  margin-right: 0px;

  padding-left: .25rem;
  padding-right: .25rem;

  border-radius: 50%;
}

.workspace_active {
  color: $teal;
}

.right_main_bar {
  padding-right: 1.5rem;
}
