@import '../palette';

.main_bar {
  background-color: $base;
  opacity: 0.8;
}

.left_main_bar{
  padding-left: .75rem;
}

.client_class {
  font-size: xx-small;
}

.client_title {
  font-size: x-small;
}

.workspace {
  margin-left: 0px;
  margin-right: 0px;

  padding-left: .25rem;
  padding-right: .25rem;

  border-radius: 50%;
}

.workspace_hover {
  color: $teal;
}

.workspace_active {
  color: $teal;
}

.right_main_bar {
  padding-right: .75rem;
}
