@import 'palette.scss';

.left_bar {
  background-color: transparent;
}

.left_bar_body {
  background-color: $base;

  margin-top: 20px;
  margin-left: 20px;

  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 1rem;
}

.workspace {
  border-radius: 50%;
}

.workspace_active {
  background-color: $teal;
}
