@import 'palette.scss';

.right_bar {
  background-color: transparent;
}

.right_bar_body {
  background-color: $base;

  margin-top: 20px;
  margin-right: 20px;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-radius: 1rem;
}

