[user]
	name = soriphoono
	email = soriphoono@protonmail.com

[init]
	defaultBranch = main

[diff]
  algorithm = histogram

[help]
  autocorrect = prompt

[commit]
  verbose = true

[push]
  default = current
  autoSetupRemote = true

[pull]
  rebase = true

[rebase]
  autosquash = true

[rerere]
  enabled = true

[merge]
  conflictstyle = zdiff3



