# Folders
.vscode/
__pycache__/

# Files
.editorconfig

# Working tree
/dotfiles

# Deployment Directories
.android/
.cache/
.cargo/
.config/BetterDiscord/data/
.config/BraveSoftware/
.config/Code/
.config/GIMP/
.config/Google/
.config/JetBrains/
.config/LanguageTool/
.config/Meltytech/
.config/Signal/
.config/VirtualBox/
.config/audacity
.config/bleachbit/
.config/blender/
.config/cef_user_data/
.config/chromium/
.config/dconf/
.config/discord/
.config/exaile/
.config/falkTX/
.config/flutter/
.config/galculator/
.config/gh/
.config/github-copilot/
.config/google-chrome/
.config/gtk-3.0/
.config/heroic/
.config/imhex/
.config/libfm/
.config/libreoffice/
.config/libvirt/
.config/menus/
.config/microsoft-edge/
# TODO: sort through this to find ui configurations
.config/obs-studio/
.config/obsidian/
.config/openrazer/
.config/pcmanfm/
.config/polychromatic/
.config/protonup/
.config/pulse/
.config/qBittorrent/
.config/qt5ct/
.config/qt6ct/
.config/qtile/wallpapers/
.config/radeon-profile/
.config/spotify/
.config/spicetify/Backup
.config/spicetify/Extracted/
.config/steamtinkerlaunch/
.config/systemd/
.config/synfig/
.config/unity3d/
.config/xfce4/
.config/xsettingsd/
.dart-tool/
.dart/
.factorio/
.gnupg/
.java/
.lemminx/
.local/share/
.local/state/
.mozilla/
.npm/
.pki/
.pub-cache/
.rustup/
.redhat/
.spotdl/
.ssh/
.steam/
.t-engine/
.thunderbird/
.wine/
go/
Desktop/
Documents/
Downloads/
Music/
VirtualBox VMs/

# Deployment Files
.bashrc
.bash_profile
.bash_logout
.bash_history
.config/boxtron.conf
.config/imhex/config/interface.ini
.config/QtProject.conf
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yadm/drivers/vendors
.flutter
.gitconfig
.gtkrc-2.0
.lesshst
.node_repl_history
.python_history
.steampath
.steampid
.wget-hsts
.xscreensaver
.zcompdump-*
.zsh_history
.Xauthority
imgui.ini
