.vscode/
.steam/
.pki/
.npm/
.mozilla/
.local/
.dotnet/
.config/Bitwarden/
.config/Code/
.cargo/
.cache/
.ansible/

.steampath
.steampid
.ssh/known_hosts.old
.pulse-cookie
.config/systemd/
.config/pulse/
.config/psd/
.config/monitors.xml
.config/monitors.xml~
.config/mimeapps.list
.config/gtk-3.0/
.config/evolution/
.config/dconf/
.config/btop/
.config/autostart/
.config/.gsd-keyboard.settings-ported
.bash_history
.bash_logout
.bash_profile
