[submodule ".config/chevron"]
	path = .config/chevron
	url = https://github.com/kholmogorov27/chevron.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AstroNvim/AstroNvim.git
