* {
    font-family: 'Source Code Pro Bold';
    font-size: 12px;
    min-height: 0;
}

#window-waybar {
    background: #1E1E2E;
    color: #CDD6F4
}

#workspaces,
#custom-spotify,
#network,
#pulseaudio,
#battery,
#clock,
#tray {
    padding: 0px 10px;
    background: #332E41;
    color: #CDD6F4
}

#workspaces {
    padding-left: 0px;
    border-radius: 0px 15px 15px 0px;
}

#workspaces button {
    min-width: 0;
    color: #DADAE8;
}

#workspaces button.active {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #332e41;
    background: #f38ba8;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #332e41;
    border-color: #332e41;
    border-radius: 10px;
    color: #A4B9EF;
}

#custom-spotify {
    border-radius: 15px 15px 15px 15px
}

#network {
    border-radius: 15px 0px 0px 15px;
}

#pulseaudio {
    border-radius: 0px 0px 0px 0px;
}

#battery {
    border-radius: 0px 0px 0px 0px;
}

#clock {
    border-radius: 0px 15px 15px 0px;
}

#tray {
    padding-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 10px;
    border-radius: 15px 0px 0px 15px;
}