@import "colors.css";

* {
    font-family: 'SauceCodeProNFM';
    font-size: 16px;
    min-height: 0;

    color: #94e2d5;
}

window#waybar.top {
    background-color: transparent;
}

.modules-left {
    background: #1E1E2E;
    padding: 0px 10px;
    border-radius: 15px 15px 15px 15px;
}

.modules-center {
    background: #1E1E2E;
    padding-left: 10px;
    border-radius: 15px 15px 15px 15px;
}

.modules-right {
    background: #1E1E2E;
    border-radius: 15px 15px 15px 15px;
}

#workspaces button:hover {
    background: #332e41;
    border-color: #332e41;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #f38ba8;
    border-radius: 15px;
}

#clock {
    padding-left: 5px;
    padding-right: 5px;
}

#tray {
    padding-left: 20px;
    padding-right: 10px;
}