@import '../palette.scss';

.left_main_bar {
  background-color: $base;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-radius: 1rem;
}

.workspace {
  margin-left: 0px;
  margin-right: 0px;

  border-radius: 50%;
}

.workspace_active {
  background-color: $teal;
}
