[Desktop Entry]
Type=Application
Icon=google-tasks-desktop
Name=Google Keep
Exec=firefox --new-window keep.google.com
Terminal=false
Hidden=false
Categories=Office; Utility
Comment=Opens google keep notation application in firefox
