[Desktop Entry]
Type=Application
Exec=~/.local/bin/password-generator.sh
Terminal=false
Hidden=false
Name=Password Generator
Icon=emblem-encrypted-locked
Categories=Network; Office; System; Utility
Comment=Launch password generator to create random passcode and copy it to the clipboard
