$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #c792ea;
$maroon: #f5a97f;
$peach: #f9e2af;
$yellow: #f5e0dc;
$green: #a6e3a1;
$teal: #89dceb;
$sky: #74c7ec;
$sapphire: #88c0d0;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #a6adc8;
$subtext1: #a5adcb;
$subtext0: #939ab7;
$overlay2: #7f849c;
$overlay1: #6e738d;
$overlay0: #5b6078;
$surface2: #494d64;
$surface1: #3d4256;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
