@import 'palette.scss';

* {
  color: $text;
}

.main_bar {
  background-color: $base;
}

.background {
  background-color: transparent;
}

.time {
  border: 3px solid $text;

  font-size: 4rem;
}

.date {
  font-size: 2rem;
}
